#logo {
  font-family: "Bungee", sans-serif;
  color: #FFFFFF;
  font-size: 60px;
  right: 10px;
  position: absolute;
  left: 1.5em;
  top: 0.6em;
}

.top-nav {
  background-color: #4056A1;
  height: 120px;
  width: 100%;
  position: relative;
}

.write {
  font-family: "Source Sans 3", sans-serif;
  position: absolute;
  right: 1.5em;
  color: #FFFFFF;
  top: 1.2em;
}

.icon {
  color: red;
  position: absolute;
  top: 3.5em;
  right: 5em;
}