.tweet-container {
  margin: 3rem 0 0 0;
  height: 240px;
  background-color: #f4f1ec;
  border: 4px solid #545149
}

.tweet-container:hover {
  box-shadow: 10px 10px 0 2px rgb(64, 86, 161, 0.3);
}

article .tweet {
  display: flex;
  flex-direction: column;
  border: 4px #545149;
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
  background-color: #f4f1ec;
}

article .tweet-header {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;

}

.tweet-name {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.image-newton {
  width: 70px;
}

article .div-content {
  font-weight: bold;
  border-bottom: 4px #545149;
}

.div-content p {
  margin: 0.5rem;
  display: flex;
  justify-content: start;
  padding: 2rem;
  border-bottom: 4px solid #545149;
  font-weight: 500;
}

.tweet-handle {
  color: rgba(0, 0, 0, 0.3);
}

.below-tweet {
  margin: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: large;
}

.below-tweet p {
  margin: 0;
}

.tweet-icons {
  display: flex;
  gap: 10px;
  font-size: 15px;
  color: #4056A1;
}

.tweet-icons button:hover {
  color: orange;
}

.flag-button {
  border: none;
}

.retweet-button {
  border: none;
}

.heart-button {
  border: none;
}